{% extends "base.html" %}

{% block title %}Trying to be clever ?{% endblock %}

{% block content %}

    <div class='col-md-7 col-sm-offset-2  '>
      <strong><h2> Go through the correct system, you did not belong here !!   </h2></strong>

      <div class='container container-alert-flash col-md-7 '>  
        <div class='alert alert-danger alert-dismissible' role='alert'> 
          This message appeared because you did not come here step by step.
        </div>
      </div>  <br>
      <div class="col-md-10">
      <strong>Possible reasons:</strong>
      <ul>
        <li>You did not follow the path that needed to be followed.</li>  
        <li>The url you are trying to get to cannot be reached this way !!</li>
        <li>Something went wrong, try systematically what you wanted to accomplish, again from start !!</li>
      </ul>    
      </div>
    </div>

{% endblock %}



